*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif !important;
}
h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}
p{
    line-height: 1.5rem;
}
p > a{
    color: #008248;
}
ul li{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    padding-left: 1.6rem;
    color: #201f1f;
}
nav ul li a:hover{
    color: #008248;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 1.5rem 2.5rem;
    font-weight: 700; 
    font-size: .9rem;
    min-height: 8vh;
}
/* .nav-flex{
    display: flex;
    justify-content: space-between;
} */
nav .logo  img{
    width: 50px;
    height: 50px;
    margin-right: 1rem;
}
.nav-left-items{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-left-items ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-right-items{
    color: #000000;
}
.nav-right-items ul{
    display: flex;
    flex-direction: row;
}
.nav-right-items a{
    margin-right: 2.5rem;
    text-decoration: none;
    color: #201f1f;
    font-size: 1rem;
    font-weight: 700;
    
}
.nav-right-items a:hover{
    color: #008248;
}
.nav-right-items a > i {
    padding: .7rem;
    font-size: 1.2rem;
}
.nav-right-items button{
    padding: .4rem 1rem;
    border-radius: 15px;
    border: 1px solid #000000;
    margin-left: .7rem;
    cursor: pointer;
    font-size: .9rem;
    font-weight: 700;
}
#nav-btn-1{
    background-color: white;
}
#nav-btn-1:hover{
    background-color: #f3f1e7;
}
#nav-btn-2{
    background-color: #000000;
    color: white;
}
.burger{
    display: none;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
}

/* -----banner----- */
.banner{
    background-color: #1e3932;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 8rem;
    padding-right: 2rem;
}
.banner span{
    color: white;
}
.banner-btn{
    border: 1px solid white;
    border-radius: 2rem;
    background: none;
    color: white;
    padding: .5rem;
    font-size: .8rem;
    cursor: pointer;
    text-decoration: none;
    display: none;
}


/* -----section 2----- */

.section-2{
    /* background-image: url('../images/banner.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 95vh;
    padding-left: 2.5rem;
}
.section-2 div{
    margin-top: 1.5rem;
}
.section-2-heading h1{
    font-size: 2.5rem;
}
.section-2 div span{
    font-size: 1.3rem;
}
.section-2-join-btn a{
    background-color: #008248;
    text-decoration: none;
    color: white;
    padding: .4rem 1rem;
    border-radius: 17px;
    font-size: 1.2rem;
    margin-top: 3rem;
}
.section-2-txt2 a{
    color: inherit;
}
#mobile-link{
    display: none;
}

/*-----getting started-----*/

.getting-started{
    display: flex;
    flex-direction: column;
    padding-bottom: 6rem;
}
.getting-started-header{
    margin: 0 auto;
    /* width: 50%; */
    text-align: center;
    margin-top: 6rem;
}
.getting-started-header h2{
    font-size: 2rem;
}
.getting-started .steps p, p, h3{
    font-size: 1rem;
    margin-top: 1.2rem;
}
.getting-started-steps{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.steps{
    text-align: center;
    width: 26%;
    margin: 1.5rem;
}
.steps-img > img{
    width: 3rem;
    height: 3rem;
}
.steps-text > h3{
    font-size: 1.2rem;
    margin-bottom: inherit;
}


/*-----favourites tabs*/
.fav-tab-list-wrapper{
    background-color: #f1f8f6;
}
.fav-tab-list-wrapper > h2{
    font-size: 2rem;
    padding: 2.5rem;
    text-align: center;
}
.fav-tab-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 50vw;
    margin: 0 auto;
}

.fav-tab-list button{
    background: none;
    border: none;
    font-size: 1.5rem;
    font-weight: 400;
    transition-duration: 300ms;
    cursor: pointer;
}

.tablist{
    border: none;
    background: none;
    padding: 0.5rem 0.8rem;
    font-size: 1.2rem;
    transition-duration: 300ms;
}
.active{
    border-bottom: 4px solid #1e3932 !important;
    width: 80px;
    transition-duration: 300ms;
}
.tablist:hover{
    color: #008248;
}
.tab-content{
    display: none;
    background-color:#d4e9e2;
    padding: 3rem;
}
#firstContent{
    display: flex;
}
.fav-tab-list button h3{
    font-size: 1.7rem;
    cursor: pointer;
}
.star{
    color: rgb(194, 165, 3);
    font-size: initial;
}
.tab-img{
    width: 50%;
    /* padding-left: 15rem; */
    /* padding-top: 4rem; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.tab-img > img{
    width: 20rem;   
}
.tab-text{
    width: 50%;
    padding-left: 4rem;
    text-align: left;
    line-height: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.tab-text > h3{
    font-size: 1.5rem;
}



/*-----Etras----*/
.extras-items > div img{
    width: 7rem;
    height: 7rem;
    margin-bottom: 1.2rem;
}
.extras-items > div a{
    color: #008248;
}
.extras-items > div p{
    padding-bottom: 2rem;
}



/*-----Payment Options-----*/
.payment-options{
    background-color: #f3f1e7;
}
.payment-options p{
    margin-top: 1.5rem;
}
.pay-opt-options{
    display: flex;
    margin: 2.5rem 3rem;
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
}
.pay-opt-heading h2{
    font-size: 2rem;
}
.bordered-pay-opt{
    border-bottom: 1px solid grey;
}
.pay-opt-1a{
    width: 20%;
}
.pay-opt-1a  p{
    margin-top: initial;
}
.pay-opt > div img{
    width: 7rem;
    height: 10rem;
}
.pay-opt-text{
    margin-left: 1rem;
}
.pay-opt h3{
    font-size: 1rem;
} 
.pay-opt .pay-opt-text > h3{
    font-size: 1.2rem;
    margin-top: 0;
}
.pay-opt-1b, .pay-opt-1c{
    display: flex;
    width: 28%;
    margin-left: 3rem;
}
#black-star{
    font-size: initial;
}



/*-----Star Codes*/
.starcodes{
    width: 45%;
    margin-left: 15.6rem;
    margin-top: 4rem;
}
.starcode-info p{
    font-size: 1rem;
    margin-bottom: 1.5rem;
    width: 100%;
}
.starcode-info input{
    padding: .9rem;
    width: 100%;
    display: block;
    border: 1px solid;
    border-radius: 10px;
}
.starcode-info input::placeholder{
    font-size: 1.2rem;
    font-weight: inherit;
}
.starcode-info .btn-div{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.starcode-info button{
    padding: .5rem 1.2rem;
    font-size: 1.1rem;
    font-weight: bold;
    border: 1px solid;
    border-radius: 20px;
    margin-top: 1.5rem;
    margin-bottom: 1.2rem;
    position: relative; 
    background: transparent;
    
}
.starcode-info button + p{
    font-size: .9rem;
}
.questions{
    margin-top: 6rem;
}


/*-----Terms-----*/
.terms{
    background-color: #f1f8f6;
    padding-top: 2.5rem;
    margin-top: 6rem;
}
.terms #terms-heading{
   margin-left: 2rem;
}
.terms h4{
    color: gray;
}
.h4{
    margin-top: 2rem;
}
.terms p{
    font-size: .86rem;
}
.left-right-container{
    display: flex;
    width: 100%;
    padding: 1rem;
}
.terms .left, .right{
    width: 50%;
    margin: 1rem;
}

/*-----Top footer-----*/
.top-footer{
    display: flex;
    padding: 1rem;
    margin-top: 2rem;
}
.top-footer-list{
    margin: 1.5rem;
}
.top-footer-list h5{
    font-size: 1.1rem;
}
.top-footer-list ul{
    margin-top: 2rem;  
}
.top-footer-list ul li{
    padding-top: 1.5rem;
}
.top-footer-list ul li a{
    text-decoration: none;
    color: grey;
}
.top-footer-list ul li a:hover{
    color: #000000;
}


/*-----Footer-----*/
.footer{
    margin-top: 2rem;
    padding: 2rem;
}
.icons a i{
    font-size: 1.7rem;
    color: rgb(34, 33, 33);
    padding: .7rem;
}
.icons a i:hover{
    background-color: #f3f1e7;
    border-radius: 50%;
}
.footerLinks{
    margin-top: 2rem;
    padding-left: .7rem;
}
.footerLinks ul li{
    display: inline;
    margin-right: 1.5rem;
}
.footerLinks ul li a{
    text-decoration: none;
    color: rgb(34, 33, 33);
}
.footerLinks ul li a:hover{
    text-decoration: underline;
}
.footerLinks p{
    font-size: .9rem;
    color: gray;
}