*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}
p{
    line-height: 1.5rem;
}
p > a{
    color: #008248;
}
ul li{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    padding-left: 1.6rem;
    color: #201f1f;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif!important;
}
nav ul li a:hover{
    color: #008248;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 1.5rem 2.5rem;
    font-weight: 700; 
    font-size: .9rem; 
}
nav .nav-left-items .logo  img{
    width: 50px;
    height: 50px;
    margin-right: 1rem;
}
.nav-left-items{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-left-items ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-right-items{
    color: #000000;
}
.nav-right-items ul{
    display: flex;
    flex-direction: row;
}
.nav-right-items a{
    margin-right: 2.5rem;
    text-decoration: none;
    color: #201f1f;
    font-size: 1rem;
    font-weight: 700;
    
}
.nav-right-items a:hover{
    color: #008248;
}
.nav-right-items a > i {
    padding: .7rem;
    font-size: 1.2rem;
}
.nav-right-items button{
    padding: .4rem 1rem;
    border-radius: 15px;
    border: 1px solid #000000;
    margin-left: .7rem;
    cursor: pointer;
    font-size: .9rem;
    font-weight: 700;
}
#nav-btn-1{
    background-color: white;
}
#nav-btn-1:hover{
    background-color: #f3f1e7;
}
#nav-btn-2{
    background-color: #000000;
    color: white;
}


/* -----banner----- */
.banner{
    background-color: #1e3932;
    height: 7vh;
    display: flex;
    align-items: center;
}
.banner span{
    color: white;
    padding-left: 8rem;    
}


/* -----section 2----- */

.section-2{
    /* background-image: url('../images/banner.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 95vh;
    padding-left: 2.5rem;
}
.section-2 div{
    margin-top: 1.5rem;
}
.section-2-heading h1{
    font-size: 2.5rem;
}
.section-2 div span{
    font-size: 1.3rem;
}
.section-2-join-btn a{
    background-color: #008248;
    text-decoration: none;
    color: white;
    padding: .4rem 1rem;
    border-radius: 17px;
    font-size: 1.2rem;
    margin-top: 3rem;
}
.section-2-txt2 a{
    color: inherit;
}


/*-----getting started-----*/

.getting-started{
    display: flex;
    flex-direction: column;
    padding-bottom: 6rem;
}
.getting-started-header{
    margin: 0 auto;
    width: 50%;
    text-align: center;
    margin-top: 6rem;
}
.getting-started-header h2{
    font-size: 2rem;
}
.getting-started .steps p, p, h3{
    font-size: 1rem;
    margin-top: 1.2rem;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif!important;
}
.getting-started-steps{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.steps{
    text-align: center;
    width: 26%;
    margin: 1.5rem;
}
.steps > img{
    width: 3rem;
    height: 3rem;
}
.steps > h3{
    font-size: 1.2rem;
}



/*-----favourites tabs*/


.fav-tab-list{
    background-color: #f1f8f6;
    overflow: hidden;
    border: 1px solid;
    text-align: center;
    padding-top: 2rem;
}
/* .fav-tab-list > h2{
    font-size: 2rem;
    margin-bottom: 1rem;
} */
.fav-tab-list button{
    border: none;
    outline: none;
    padding: 1rem;
    margin: 0 1rem;
    background-color: transparent;
    transition: 0.3s;
}
.fav-tab-list button.active{
    border-bottom: 5px solid #008248;
}
.fav-tab-list button h3{
    font-size: 1.7rem;
    cursor: pointer;
}
#star{
    color: rgb(194, 165, 3);
    font-size: initial;
}

.fav-tab-content{
    display: none;
    align-items: center;
    background-color: #d4e9e2;
}

.fav-tab-content.active{
    /* display: none !important; */
    display: flex;
    align-items: center;
    background-color: #d4e9e2;
}
.tab-img{
    width: 50%;
    padding-left: 18rem;
    padding-top: 3rem;
}
.tab-img > img{
    width: 20rem;   
}
.tab-text{
    width: 50%;
    padding-top: 4rem;
    padding-left: 4rem;
    text-align: left;
    line-height: 1.6rem;
}
.tab-text > h3{
    font-size: 1.5rem;
}



/*-----Etras----*/
.extras-items > div img{
    width: 7rem;
    height: 7rem;
    margin-bottom: 1.2rem;
}
.extras-items > div a{
    color: #008248;
}
.extras-items > div p{
    padding-bottom: 2rem;
}



/*-----Payment Options-----*/
.payment-options{
    background-color: #f3f1e7;
}
.payment-options p{
    margin-top: 1.5rem;
}
.pay-opt-options{
    display: flex;
    margin: 2.5rem 3rem;
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
}
.pay-opt-heading h2{
    font-size: 2rem;
}
.bordered-pay-opt{
    border-bottom: 1px solid grey;
}
.pay-opt-1a{
    width: 20%;
}
.pay-opt-1a  p{
    margin-top: initial;
}
.pay-opt > div img{
    width: 7rem;
    height: 10rem;
}
.pay-opt-text{
    margin-left: 1rem;
}
.pay-opt h3{
    font-size: 1rem;
}
.pay-opt .pay-opt-text > h3{
    font-size: 1.2rem;
    margin-top: 0;
}
.pay-opt-1b, .pay-opt-1c{
    display: flex;
    width: 28%;
    margin-left: 3rem;
}
#black-star{
    font-size: initial;
}



/*-----Star Codes*/
.starcodes{
    width: 45%;
    margin-left: 15.6rem;
    margin-top: 4rem;
}
.starcode-info p{
    font-size: 1rem;
    margin-bottom: 1.5rem;
    width: 100%;
}
.starcode-info input{
    padding: .9rem;
    width: 100%;
    display: block;
    border: 1px solid;
    border-radius: 10px;
}
.starcode-info input::placeholder{
    font-size: 1.2rem;
    font-weight: inherit;
}
.starcode-info button{
    padding: .5rem 1.2rem;
    font-size: 1.1rem;
    font-weight: bold;
    border: 1px solid;
    border-radius: 20px;
    margin-top: 1.5rem;
    margin-bottom: 1.2rem;
    left: 82%;
    position: relative; 
    background: transparent;
    
}
.starcode-info button + p{
    font-size: .9rem;
}
.questions{
    margin-top: 6rem;
}


/*-----Terms-----*/
.terms{
    background-color: #f1f8f6;
    padding-top: 2.5rem;
    margin-top: 6rem;
}
.terms #terms-heading{
   margin-left: 2rem;
}
.terms h4{
    color: gray;
}
.h4{
    margin-top: 2rem;
}
.terms p{
    font-size: .86rem;
}
.left-right-container{
    display: flex;
    width: 100%;
    padding: 1rem;
}
.terms .left, .right{
    width: 50%;
    margin: 1rem;
}

/*-----Top footer-----*/

