@media(max-width: 826px){
    body{
        /* overflow-x: hidden; */
    }
    .nav-links{
        /* position: absolute;
        right: 0;
        height: 92vh;
        background-color: gray;
        top: 21vh;
        display: flex;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in; */
        display: none;
    }
    /* .nav-links ul{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    } */
    .nav-right-items{
       display: none;
    }
    .nav-links ul li{
        opacity: 0;
    }
    .burger{
        display: block;
        cursor: pointer;
    }
    nav.active{
        transform: translateX(0);
    }
}


@media(max-width: 600px){
    nav{
        height: 5vh;
    }
    .banner{
        padding-left: 1rem;
        padding-right: 1rem;

    }
    .banner-btn{
        display: block;
    }
     .section-2{
        align-items: center;
        text-align: center;
     }   
}