@media(max-width: 826px){
    body{
        /* overflow-x: hidden; */
    }
    .nav-links{
        /* position: absolute;
        right: 0;
        height: 92vh;
        background-color: gray;
        top: 21vh;
        display: flex;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in; */
        display: none;
    }
    /* .nav-links ul{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    } */
    .nav-right-items{
       display: none;
    }
    .nav-links ul li{
        opacity: 0;
    }
    .burger{
        display: block;
        cursor: pointer;
    }
    nav.active{
        transform: translateX(0);
    }
}


@media(max-width: 600px){
    nav{
        height: 5vh;
        margin-top: 1rem;
    }
    .banner{
        padding-left: 1rem;
        padding-right: 1rem;

    }
    .banner-btn{
        display: block;
        padding: .5rem .8rem;
    }
    .section-2{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        padding-left: 0;
        height: 65vh;
    } 
    .section-2-join-btn a{
        margin: 0 auto;
    }
    #desktop-link{
        display: none !important;
    }
     
    #mobile-link{
        display: block;
    }


    .getting-started-header h2{
        font-size: 1.4rem;
    }
    .getting-started-steps{
        display: flex;
        flex-direction: column;

    }
    .steps{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: start;
        width: 100%;
        padding: 1rem;
    }
    .steps-text {
        margin-left: 1rem;
    }
    .steps-text > h3{
        margin-top: 0;
    }


}