@media(max-width: 826px){
    body{
        overflow-x: hidden !important;
    }
    .nav-links{
        position: absolute;
        right: 0;
        height: 92vh;
        background-color: white;
        top: 8vh;
        display: flex;
        align-items: center;
        width: 50%;
        transform: translateX(0%);
        transition: transform 0.5s ease-in;
        
    } 
   
    .nav-links ul{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }
    .nav-right-items{
       display: none;
    }
    .nav-links ul li{
        opacity: 1;
    }
    .hamburger{
        display: block;
        cursor: pointer;
    }
    nav.active{
        transform: translateX(0);
    }
}


@media(max-width: 600px){
    h3{
        font-size: .8rem;
    }
    h2{
       font-size: 1.4rem; 
    }
    p{
        font-size: .9rem;
    }
    a{
        font-size: .9rem;
    }
    nav{
        height: 4vh;
        margin-top: 1rem;
    }
    nav .logo  img{
        width: 45px;
        height: 45px;
    }
    .banner{
        padding-left: 1rem;
        padding-right: 1rem;

    }
    .banner-btn{
        display: block;
        padding: .3rem .8rem;
    }
    .banner span{
        font-size: .8rem;
    }
    .section-2{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        padding-left: 0;
        height: 60vh;
        background-color: #d4e9e2;
        background-image: url('../images/banner.png');
        background-size: unset;
        background-position: bottom right;
    }
    .section-2-join-btn a{
        padding: .25rem 1rem;
        font-size: .9rem;
    }
    .section-2-heading h1{
        font-size: 1.2rem;
    }
    .section-2 div span{
        font-size: .8rem;
    }
    #desktop-link{
        display: none !important;
    } 
     
    #mobile-link{
        display: block;
    }


    .getting-started-header h2{
        font-size: 1.4rem;
    }
    .getting-started-steps{
        display: flex;
        flex-direction: column;
    }
    .getting-started-steps .steps-text > p{
        font-size: .9rem;
    }
    .steps{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: start;
        width: 100%;
        padding: 1rem;
    }
    .steps-text {
        margin-left: 1rem;
    }
    .steps-text > h3{
        margin-top: 0;
    }


    
    
    .fav-tab-list-wrapper > h2{
        font-size: 1.4rem;

    }
    .fav-tab-list{
        width: 100%;
        max-width: 100vw;
    }
    .fav-tab-list button{
        border: none;
        outline: none;
        background: none;
    }  
    .tab-content{
        display: flex;
        flex-direction: column;
    }
    #secondContent, #thirdContent, #fourthContent, #fifthContent{
        display: none;
    }
    .tab-img{
        width: 100%;
       display: flex;
       justify-content: center;
    }
    .tab-text{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .tab-text > h3{
        font-size: 1rem;
    }
    

    .pay-opt-options{
        display: flex;
        flex-direction: column;
        margin: 2.5rem 1rem;
    }
    .pay-opt-1a{
        width: 100%;
        margin-left: none;
    }
    .pay-opt-1b, .pay-opt-1c{
        margin-top: 3rem;
        width: 100%;
        margin-left: 1rem;
    }



    .starcodes{
        width: 100%;
        margin-left: 0;
        padding: 2rem;
    }



    .terms #terms-heading{
        margin-left: 1rem;
    }
    .left-right-container{
        display: flex;
        flex-direction: column;
        margin-left: 0;
        padding-left: 0;
    }
    .terms .left, .right{
        width: 100%;
    }
    .left-right-container > div, .left{
        width: 100%;
    }


    .top-footer{
        display: flex;
        flex-direction: column;
    }

    .footer{
        padding: 0;
    }
    .icons{
        padding-left: .5rem;
    }
    .footerLinks{
        padding-left: 0;
    }
    .footerLinks ul li{
        display: block;
        padding: .9rem;
    }
    .footerLinks p{
        padding-left: .9rem;
    }

}